
<nav th:fragment="navbar">
    <div class="navbar-title">
        <a href="/login">Login</a>
    </div>
    <div class="navbar-item">
        <a href="/signUp">Sign Up</a>
    </div>
    <div class="navbar-item">
        <a href="/users">Users</a>
    </div>
    <div class="navbar-item">
        <a href="/postboard">Posts</a>
    </div>
</nav>
